.board{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.selectDpts{
  width: 20vw;
  height: 4vw;
}

@media screen and (max-width: 400px) {
  .board {
    grid-template-columns: 33% 33% 33%;
  }
  .selectDpts{
    width: 40vw;
    height: 7vw;
  }
}